# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.env
.env.*
*.DS_Store
*.db
*backe

# Virtual environments
venv/
env/
pdfenv/
.idea/
.vscode/
backend/chest_xray
chest_xray/
backend/.venv

# FastAPI cache
*.mypy_cache/
*.pytest_cache/
*.cache/

archive(1).zip
*.zip
node_modules/
frontend/node_modules/
dist/
build/
.npm/
npm-debug.log
yarn-debug.log
yarn-error.log

# VSCode
.vscode/
.venv
